<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.avb.iremember">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- android:theme="@style/Dialog_WindowNoTitle" -->
    <!--android:name=".MyApplication"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">
        <activity
            android:name=".HomeActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:configChanges="locale"/>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="locale" />
        <activity
            android:name=".OptionsActivity"
            android:configChanges="locale" />
        <activity
            android:name=".LanguageActivity"
            android:configChanges="locale" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f88ca84d0ea4d1bc5e3ee99891ca0099d0532ac0" />
    </application>

</manifest>